<ion-view view-title="Lisa Horoscope" hide-back-button="true" hide-nav-bar="true">
  <ion-content ng-controller='NavCtrl'>
    <div style = "margin-top: 35%">
      <center><img src="img/lisa.png"/></center>
    </div>
    <div style = "margin-top:65%">
        <button class="button button-block button-positive" ng-click='loginFacebook()'>Login with Facebook</button>
        <button class="button button-block button-positive" ng-click='logoutFacebook()'>Logout</button>
    </div>
  </ion-content>
</ion-view>
